@using Teletext.Models.Dto;
@model TeletextDto

<div class="container">
    <h1 class="mt-5">TV Channels</h1>

    <div class="row mt-4">
        <form id="filterForm" asp-controller="Home" asp-action="ApplyFilters">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <label for="dateFilter">Date:</label>
                        <input type="date" id="dateFilter" class="form-control" name="date">
                    </div>
                    <div class="col-md-6">
                        <label for="channelFilter">TV Channel:</label>
                        <select id="channelFilter" class="form-control" name="channelName">
                            <option value="" >All</option>
                            @foreach (var channel in ViewBag.Channels)
                            {
                                <option value="@channel.Name">@channel.Name</option>
                            }
                        </select>
                    </div>                   
                    <div class="col-md-6">
                        <label for="timeFilterFrom">Time From:</label>
                        <input type="time" id="timeFilterFrom" class="form-control" name="timeFrom">
                    </div>
                    <div class="col-md-6">
                        <label for="timeFilterTo">Time To:</label>
                        <input type="time" id="timeFilterTo" class="form-control" name="timeTo">
                    </div>
                    <div class="col-md-6">
                        <label for="genreFilter">Genre:</label>
                        <select id="genreFilter" class="form-control" name="genre">
                            @foreach (var genre in Enum.GetValues(typeof(Genre)))
                            {
                                <option value="@genre">@genre.ToString()</option>                               
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <button id="applyFilters" class="btn btn-primary" type="submit">Apply Filters</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    @foreach (var channel in Model.Channels)
    {
        <div class="card mt-4">
            <div class="card-header">
                <h2>@channel.Name</h2>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    @foreach (var program in channel.Programs)
                    {                       
                        <partial name="_ProgramPartial" model="program" />
                    }
                </ul>
            </div>
        </div>
    }
</div>